body
{
 margin-bottom: 70px; padding-bottom: 100px;  font-family: Conv_ProximaNova-Light, Arial, Tahoma;
 font-weight: 500;  font-size: 17px; background: #FCFCFC;
}
html { position: relative; min-height: 100%;  }
::selection{ background:#1269AC; color: #fff; }

/*My First Media Query */
@keyframes AnimationFrameMenu/* All broswer */
{
	from { background:#1269AC; }
	to { background:#302F31; }
}
@-webkit-keyframes AnimationFrameMenu /* Safari and Chrome */
{
	from { background:#1269AC; }
	to { background:#302F31; }
}
@-moz-keyframes AnimationFrameMenu /* Safari and Chrome */
{
	from { background:#1269AC; }
	to { background:#302F31; }
}

ul > li
{ min-width:110px; max-width:auto; text-align: center; font-size: 14px; text-shadow: 0px 1px 0px #111; text-transform: uppercase; }
ul > li:hover:not(.active)
{ background:#302F31; -webkit-animation:AnimationFrameMenu 1.3s; -moz-animation:AnimationFrameMenu 1.3s; animation:AnimationFrameMenu 1.3s;}

ol > li
{ list-style: none; }

textarea { max-width: 100%; }
hr { margin-bottom:0px; margin-top:-5px; }

span > a { color: black; }
span > a:hover { color: black; }

/* Applying Class CSS */
.active{ background-color: #302F31; }
.background-white {background-color: white;}
.border{border: 1px solid black;}
.border-gray{ border-color: #F2F5F7;}
.bottom { bottom:0; font-size:12px; }
.carousel-indicators li, .carousel-indicators .active { width: 15px; height: 15px;}
.center { text-align: center; }
.color-black { color: black; }
.color-white { color: white; }
.color-red {color: red }
.content-sub-menu { background-color: #302F31; color: white; margin-top: 50px; height: 140px;  }
.font-small { font-size: 13px; }
.img-curriculo { margin-top: -70px; }
.img-portifolio { width: 500px; height: 250px; }
.img-responsive { padding-bottom: 3%;}
.Jcarousel { background:#302F31; margin-top:50px;}
.left { float: left; }
.left-bar { border-left: 2px solid #cccccc; padding-left: 10px; text-align: justify; }
.link-footer { color: white; }
.link-footer:hover { color:#0094FF; }
.margin-bottom-0 {margin-bottom: 10px;}
.margin-left-0 { margin-left: 10px; }
.margin-left-1 { margin-left: 50px; }
.margin-left-3 { margin-left: -35px;}
.margin-top-0 { margin-top: 3%; }
.margin-top-1 { margin-top: 5%; }
.margin-top-2 { margin-top: 1%; }
.margin-top-3 { margin-top: 100px; }
.margin-top-4 { margin-top: 3px; }
.margin-right-0 { margin-right:10px; }
.nav-custom { background-color: #1269AC; border-radius: 0px; border: 0px; }
.not-border-radius { border-radius: 0px; webkit-border-radius:0px; moz-border-radius:0px;  }
.padding-bottom-0 { padding-bottom: 20px; }
.padding-top-0 { padding-top:30px; }
.padding-top-1 { padding-top:60px; }
.padding-top-2 { padding-top: 35px; }
.padding-top-3 { padding-top: 17px; }
.padding-top-4 { padding-top: 15px; }
.padding-top-5 { padding-top: 25px;}
.right { float: right; }
.thumbnail:hover { opacity: .6; border-color:#1269AC }

/* Applying PROPERTIES for CHART */
.chart { position: relative; display: inline-block; text-align: center; }
.chart canvas { position: absolute; top: 0; left: 0; }

/* Applying Color for box */
.box { width:85px; height: 80px;}
.box-left { background: #F2F5F7; }
.box-left:hover { background: #EEEEEE; }
.box-right { background: none; }
.box-right:hover { background: #EEEEEE; }
.box-blue { background-color: #1269AC; }
.box-black { background-color: #302F31; }
.box-margin { margin-right: 0px; };

/* Class for in chart - curriculo */
.chart { position: relative; display: inline-block; text-align: center; }
.chart canvas { position: absolute; top: 0; left: 0; }
.percent {line-height: 150px; margin-left: 60px;}
.percent:after { content: '%'; }

/* Letras maiculas para colar em destaque

.box-img-text{ font-family: inherit !important; text-shadow: 1px 1px 1px black; -webkit-backface-visibility: hidden;
color: #FFF;  font-size: 50px;  font-weight: 800;  text-transform: uppercase; margin-bottom: 5px; letter-spacing: -1px;
line-height: 50px; text-decoration: none; margin-right: 30px; 
}
*/

/* Applying CSS to social networks */
#lblDate{ visibility: hidden; }
#img-twitter:hover{background-color: white; cursor: pointer; }
#img-facebook:hover{background-color: white; cursor: pointer; }
#img-google:hover{background-color: white; cursor: pointer; }
#img-linkedin:hover{background-color: white; cursor: pointer; }
#img-skype:hover{background-color: white; cursor: pointer; }
#footer { position: absolute; bottom: 0; width: 100%; height: 130px; background-color: #302F31; font-size:16px;}

/* Applying CSS to Back to TOP */
#toTop { display:none; text-decoration:none; position:fixed; bottom:0px; right:10px; overflow:hidden; width:51px; height:51px; border:none; 
  text-indent:100%; background:url(../img/BackToTop.png) no-repeat left top;
}
#toTopHover { background:url(../img/BackToTop.png) no-repeat left -51px; width:51px; height:51px; display:block; overflow:hidden; float:left;
  opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus
{
  outline:none;
}

@media screen and (max-width: 1200px)
{
	.box { width: 75px;}
	.font-small{ font-size: 10px;}

}/*/mediaquery*/

/* Aplicando MEDIA SCREEN */
@media screen and (max-width: 990px)
{
	/*Aplicando media para curriculo*/
	.margin-top-cur-3 { margin-top: -15px;}
	.margin-left-3 { margin-left: 0px; margin-top: 0px; }
	canvas{ text-align: center; margin-left: -60px; }
	.percent{ margin-left: 0px;}
	.skills-name{ margin-left: -50px;}
	.box { width: 85px;}
	.font-small{ font-size: 13px;}

}/*/mediaquery*/

/*Aplicando media para o rodape do site*/
@media screen and (max-width: 480px) 
{
	.map-site{ visibility: hidden; }
	.mid-site{margin-top: -5%; float: left; }

}/*/mediaquery*/

@media screen and (max-width: 303px) 
{
	.mid-site{margin-top: -15%;}
}/*/mediaquery*/
