body
{ 
	margin-bottom: 70px; padding-bottom: 100px; 
	font-family: Conv_ProximaNova-Light, Arial, Tahoma;

	font-weight: 500;  font-size: 17px; 
}

html { position: relative; min-height: 100%;  }
::selection{ background:#1269AC; color: #fff; }

/*My First Media Query */
@keyframes AnimationFrameMenu/* All broswer */
{
	from { background:#1269AC; }
	to { background:#302F31; }
}
@-webkit-keyframes AnimationFrameMenu /* Safari and Chrome */
{
	from { background:#1269AC; }
	to { background:#302F31; }
}
@-moz-keyframes AnimationFrameMenu /* Safari and Chrome */
{
	from { background:#1269AC; }
	to { background:#302F31; }
}

ul > li
{ 
	min-width:110px; max-width:auto; text-align: center; font-size: 14px; text-shadow: 0px 1px 0px #111; text-transform: uppercase;
}
ul > li:hover:not(.active)
{ 
	background:#302F31; -webkit-animation:AnimationFrameMenu 1.3s; -moz-animation:AnimationFrameMenu 1.3s; animation:AnimationFrameMenu 1.3s; 
} 

/* Applying Class CSS */
.active{ background-color: #302F31; }
.bottom { bottom:0; font-size:12px; }
.content-sub-menu{ background-color: #302F31; color: white; margin-top: 50px; height: 140px;  }
.color-white{ color: white; }
.font {}
.img-responsive { padding-bottom: 3%;}
.nav-custom{ background-color: #1269AC; border-radius: 0px; border: 0px; }
.margin-top-0 { margin-top: 3%; }
.margin-top-1 { margin-top: 5%; }
.margin-top-2 { margin-top: 1%; }
.margin-right-0 { margin-right:10px; }
.margin-left-0 { margin-left: 10px; }
.padding-top{ padding-top:30px;}
.left-bar{ border-left: 2px solid #cccccc; padding-left: 10px; text-align: justify; }
.right{ float: right; }
.left { float: left; }
.link-footer{ color: white; }
.link-footer:hover{ color:#0094FF; }
.Jcarousel{ background:#302F31; margin-top:50px;}
.carousel-indicators li, .carousel-indicators .active { width: 15px; height: 15px;}
.center{ text-align: center;}
.border{border: 1px solid black;}
/*
.box-img-text{ font-family: inherit !important; text-shadow: 1px 1px 1px black; -webkit-backface-visibility: hidden;
color: #FFF;  font-size: 50px;  font-weight: 800;  text-transform: uppercase; margin-bottom: 5px; letter-spacing: -1px;
line-height: 50px; text-decoration: none; margin-right: 30px; 
}
*/

/* Applying CSS to social networks */
/*#lblSetDate{ font-size: 19px; font-family: font-family: sans-serif; margin-top:60px; }*/


#img-twitter:hover{background-color: white; cursor: pointer; }
#img-facebook:hover{background-color: white; cursor: pointer; }
#img-google:hover{background-color: white; cursor: pointer; }
#img-linkedin:hover{background-color: white; cursor: pointer; }
#img-skype:hover{background-color: white; cursor: pointer; }
#footer { position: absolute; bottom: 0; width: 100%; height: 130px; background-color: #302F31; font-size:16px;}

/* Applying CSS to Back to TOP */
#toTop { display:none; text-decoration:none; position:fixed; bottom:0px; right:10px; overflow:hidden; width:51px; height:51px; border:none; 
  text-indent:100%; background:url(../img/BackToTop.png) no-repeat left top;
}
#toTopHover { background:url(../img/BackToTop.png) no-repeat left -51px; width:51px; height:51px; display:block; overflow:hidden; float:left;
  opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus
{
  outline:none;
}

@media screen and (max-width: 480px) 
{
	.map-site{ visibility: hidden; }
	.mid-site{margin-top: -5%; float: left; }
	
}
@media screen and (max-width: 303px) 
{
	.mid-site{margin-top: -15%;}
}

